.containerList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
}

.itemList {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
}
